@font-face {
    font-family: "vudotronic" ;
    src: url("/fonts/Vudotronic-X3A49.ttf") format("truetype");
}
header h1{
    font-family: "vudotronic" , "Georgia";
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
}
main h1, h2, h3{
    font-family: "Georgia";
}
h1{
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    
}
h2{
    font-size: 24px;
    text-align: center;
}
h3{
    font-size: 20px;
}
p, li{
    font-family: "arial";
    font-size: 14px;
}
p:first-letter, li:first-letter{
    text-transform: uppercase;
}
:root{
    --green1: #1F5929;
}
.logo img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
    padding: 0 10px;
}
.logo{
    display: flex;
    margin: 15px 0 auto 66.55px;
}
body{
    margin: 0;
    overflow-x: hidden;
    background-color:#58A166 ;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: var(--green1);
    color: white;
    width: 100%;
    z-index: 2;
    top: 0;
    margin-bottom: 100%;
}
img{
    max-width: 100%;
}
.nav{
    align-self: flex-end;
}
#menu{
    display: none;
    
}
.hide{
    display: none;
}

nav{
    display: none;
    position: absolute;
    min-width: 100vw;
    min-height: 30vh;
    left: 0%;
    top: 99%;
    background-color: var(--green1);
    
}
nav a, nav li{
    text-decoration: none;
    color: white;
    padding: 2%;
}
#menu:checked ~ nav{
    display: inline-block;
}
.nav{
    margin-right: 1%;
    width: fit-content;
    height: fit-content;
}
footer{
    background-color: var(--green1);
    color: white;
    padding: 15px;
    padding-top: 4%;
    margin: 0%;
    min-height: 350px;
}
footer h2{
    text-align: start;
}
footer li, .visit li{
    list-style: none;
}
footer ul, .visit ul{
    padding-left: 0;
}
section{
    margin: 60px 0;
}

/*homepage*/
.welcome_message, .explore_exhibits{
    background-color:#FFEB3B;
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore_exhibits{
    border-radius: 10%;
    max-width: 500px;
    margin: 60px auto 60px auto;
}
.explore_exhibits h2{
    padding-top: 20px;
}
.welcome_message p{
    max-width: 350px;
    margin: 0px 10px 10px 10px;
    padding: 20px;
    
}

.main_page_cta{
   text-decoration: none;
   color: white;
   width: 140px;
   height: 50px;
   background-color: var(--green1);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   border-radius: 48%;
}
.main_page_cta:hover, .main_page_cta:focus{
    background-color:#33CC3D;
    font-size: 1.3em;
}
.cta_con, .contact_cta{
    padding: 20px 0;
}
.visit{
    background-image: url(/pictures/vr.jpg);
    background-position-x: right;
    background-position-y: bottom;
    color: white;
    opacity: 0.9;
    max-width: 500px;
    margin: 60px auto 60px auto;
   
}
.visit h2{
    padding-top: 20px;
}
.visit p{
    padding-bottom: 20px;
    padding-right: 40px;
    max-width: 300px;

    
}
.events{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card img{
    max-height: 200px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    min-width: 100%;
}
.card{
    background-color: #FFEB3B;
    max-height: 700px;
    min-height: 410px;
    max-width: 330px;
    border-radius: 10%;
    margin: 20px;

}
.card_content{
    padding:0 5% 5% 5%;
}
.involved{
    display: flex;
    flex-direction: column;
    background-color:#91EBE7;
    align-items: center;
    margin-bottom: 0;

}
.involved p{
    max-width: 300px;
}
.equipment_photo img{
    min-height: 340px;
    
    
}
.equipment_photo{
    max-height: 340px;
}
/*exhibition_page*/

.ex_main{
    display: flex;
    flex-direction: column;
}
.card_exhib{
    margin: 0 auto;
}
.exhib_content{
    max-width: 200px;
    margin: 0 auto;
    min-height: 100px;

}
.cta_exhib{
    margin-top: 15px;
}

/*explore_page*/
    .explore_content{
        background-color: #FFEB3B;
        min-height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        margin: 60px auto 60px auto;
        
    }
    .explore_content img{
        height: 350px;
        width:100vw;
    }
    .explore_content p{
        max-width: 200px;
    }
    /*starclub_page*/

    .star_card p{
        max-width: 200px;
    }
    .star_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px auto;
    }
    .star_card img{
        width: 100vw;
    }
    /*contact_page*/
    .info_contact{
        background-color: #FFEB3B;
        padding: 15px;
        max-width: 500px;
        margin: 60px auto;
    }
    .info_contact p{
        max-width: 200px;
    }
    .info_contact ul{
        list-style: none;
        padding-left: 0;
    }
    .form_container{
        max-width: 500px;
        margin: 60px auto;
    }
    .form_container div{
        max-width: fit-content;
        margin: 20px 0;
    }
    .form_container form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .label{
        display: block;
        transform: translateY(-1.5em);
        padding-left: 5px;
        position: absolute;
    }
    .label_select{
        display: none;
    }
    .active_input{
        width: 180px;
        height: 22px;
    }
  
    .active_input:focus + .label,.active_input:valid + .label,
    .active_textfield:focus + .label_textarea, .active_textfield:valid + .label_textarea{
        display: none;
    }
    #text{
        margin: 0 auto;
        width: 90%;
    }
    .text_field{
        display: flex;
        min-width: 100px;
        align-items: center;
    }
    
    .active_input:focus{
        border: 5px solid;
        border-color: #91EBE7;
        height: 28px;
    }
    .label_textarea{
        display: block;
        transform: translateY(-4em);
        padding-left: 12px;
        position: absolute;
    }
    .active_textfield:focus{
        border: 5px solid;
        border-color: #91EBE7;
    }
    .send_cta{
        border-radius: 0%;
        width: 120px;
        height: 30px;
    }
     /*biology/evolution_page*/
     .picture_exhibits{
        width: 100vw;
        max-width: 400px;
        height: 400px;
     }
     .bio_pic{
        margin-top: 60px;
     }
    .exhibits_content{
        background-color: #FFEB3B;
        max-width: 400px;
    }
    .exhibits_content p{
        margin: 20px;
    }
    .bio_evo_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bio_evo_container img{
        height: 100%;
        width: 100%;
    }

     /*cosmo_page*/

    .cosmo_container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
    .cosmo_container img{
        border-radius: 100%;
        min-height: 320px;
    }
    .cosmo_container div{
        max-width: 320px;
        min-height: 320px;
        border-radius: 100%;
        margin: 60px auto 60px auto;
    }
    .cosmo_content{
        background-color: #FFEB3B;
        display: flex;
        align-items: center;
    }
    .cosmo_content p{
        max-width: 220px;
        margin: 0 auto;
        text-align: center;
        padding: 50px 50.5px 50px 50.5px;
    }
   
    

@media screen and (min-width: 751px){
    .hamburger_menu{
        display: none;
       }
       nav{
        display: inline;
        min-height: 10px ;
        position: relative;
       }
       nav ul{
        list-style: none;
        display: flex;
        justify-content:center;
        padding: 0;
        
       }
       nav li{
        margin: 0 10px;
        padding:1% 1% 0.5% 1%;
        text-align: center;
        font-size: 20px;
        width: 120px;
        }
       .nav{
        margin: 0 auto;
        min-width: 600px;
       }
       nav a{
        padding: 0;
       }
       .on{
        text-decoration: underline solid;
       }
       @keyframes bigger_font {
        0% {font-size: 20px;}
        100% {font-size: 35px; margin: 0 20px; width: 200px;}
        }
       nav li:hover, nav li:focus{
        animation-name: bigger_font;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    nav a:hover, nav a:focus{
        color: #FFEB3B;
    }

    /*homepage*/
    .home_main{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(4,auto);
        column-gap: 5%;
    }
    .welcome_message{
        grid-column: -1/1;
        grid-row: 1/2;
        width: 100vw;
    }
    .welcome_message img{
        width: 100vw;
        max-height: 650px;
    }
    
    .explore_exhibits{
        max-width: 600px;
        min-width: 350px;
        max-height: 580px;
        grid-row: 2/3 ;
        grid-column: 1/3;
        margin: 100px 0 60px auto;
        
    }
    .visit{
        max-height: 1100px;
        max-width: 400px ;
        min-width: 220px;
        grid-row: 2/3;
        grid-column: 3/4; 
        margin: 100px 0 60px auto; 
            
     }
     .events{
        grid-column: 1/-1;
        grid-row: 3/4;
        display: grid;
        grid-template-rows: repeat(2,auto);
        grid-template-columns: repeat(3,1fr);
        max-width: 100vw;
        margin: 0 auto;
        column-gap: 3%;
        margin-top: 100px;

        
     }
     .events h2{
        grid-row: 1;
        grid-column: -1/1;
     }
     .involved{
        grid-row: 4;
        grid-column: 1/5;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,auto);
        max-width: 100vw;
        column-gap: 15px;
        align-items: baseline;
        margin-top: 100px;
        
      }
      .involved img{
        max-height: 400px;
        min-width: 100vw;
      }
      .equipment_photo{
        grid-row: 4/5;
        grid-column: -1/1;
    }
      .involved P{
        grid-row: 2/3;
        grid-column: -1/1;
        margin: 0 auto;
        
      }
      .involved h2{
        grid-column: -1/1;
        grid-row: 1/2;
      }
      .involved h3{
        max-width: fit-content;
        margin: 14px auto;
      }
      .contact_cta{
        grid-row: 3/4;
        grid-column: -1/1;
      }
      .card{
        max-width: 300px;
        min-height: 500px;
        align-self: stretch;
        
      }
      .card img{
        min-height: 200px;
      }
      /*exhhibition_page*/

    .ex_main{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
        column-gap: 15px;
    }
    .ex_main h1, .explore_main h1{
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    /*explore_page*/

    .explore_content{
        min-width: 350px;
    }
    .explore_main{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(3,auto);
        column-gap: 15px;
        max-width: 1400px;
        margin: 0 auto;
    }

    /*starclub_page*/
    .star_main{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2,auto);
        max-width: 1000px;
        margin: 0 auto;
        
    }
    .star_main h1{
        grid-column: 1/-1;
    }

    /*contact_page*/
    .form_container form{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5,1fr);
        column-gap: 10%;
    }
    .text_field{
        grid-column: 2/4;
        grid-row: 1/5;
        height: 90%;
        max-width: 300px;
        
    }
    .active_textfield{
        height: 100%;
    }
    .submit_cta{
        grid-column: 1/-1 ;
        grid-row: 5/6;
        justify-self: center;
    }
    .label_textarea{
        transform: translateY(-7em);
    }
    /*biology/evolution_page*/
    .bio_evo_container{
        margin: 60px auto 60px auto;
        display: grid;
        grid-template-columns: 400px,300px;
        grid-template-rows: repeat(3,auto);
        max-width: 700px;
        align-items: stretch;
    }
    .bio_evo_container h1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .picture_last{
        grid-column: 1/3;
        grid-row: 3/4;
        max-height: 250px;
        max-width: 700px;
    }
    .exhibits_content{
        grid-column: 2/3;
        grid-row: 2/3;
        min-width: 300px;
        max-height: 400px;
        margin-top: 60px;
        
    }
    .bio_pic{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    /*cosmo_page*/
    .cosmo_container{
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
        column-gap: 15px;
        max-width: 1500px;
    }
    .cosmo_container h1{
        grid-row: 1/2;
        grid-column: 1/4;
    }
}







