@font-face {
    font-family: "vudotronic" ;
    src: url("/fonts/Vudotronic-X3A49.ttf") format("truetype");
}
header h1{
    font-family: "vudotronic", "Georgia";
    font-size: 24px;
}
main h1, h2, h3{
    font-family: "Georgia";
    font-weight: normal;
}
h1{
    font-size: 30px;
    text-align: center;
}
h2{
    font-size: 24px;
    text-align: center;
}
h3{
    font-size: 20px;
}
p, li{
    font-family: "arial";
    font-size: 14px;
}
:root{
    --green1: #1F5929;
}
.logo img{
    max-width: 70px;
    max-height: 70px;
    border-radius: 100%;
}
body{
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--green1);
    color: white;
    width: 100%;
}
img{
    max-width: 100%;
}
.nav{
    align-self: flex-end;
}
#menu{
    display: none;
    
}
nav{
    display: none;
    position: absolute;
    min-width: 100vw;
    min-height: 30vh;
    left: 0%;
    top: 99%;
    background-color: var(--green1);
    
}
nav a, nav li{
    text-decoration: none;
    color: white;
    padding: 2%;
}
#menu:checked ~ nav{
    display: inline-block;
}
.nav{
    margin-right: 1%;
    width: fit-content;
    height: fit-content;
}
footer{
    background-color: var(--green1);
    color: white;
    padding: 2%;
    padding-top: 4%;
    margin: 0%;
}
footer h2{
    text-align: start;
}
footer li, .visit li{
    list-style: none;
}
footer ul, .visit ul{
    padding-left: 0;
}

/*homepage*/
.welcome_message, .explore_exhibits{
    width: 100vw;
    background-color:#FFEB3B;
}
.welcome_message p{
    max-width: 350px;
    margin: 10px 10px;
    padding: 20px;
}

.main_page_cta{
   text-decoration: none;
   color: white;
   width: 140px;
   height: 50px;
   background-color: var(--green1);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   border-radius: 48%;
}
.cta_con, .contact_cta{
    padding: 20px 0;
}
.visit{
    background-image: url(/pictures/vr.jpg);
    background-position-x: right;
    background-position-y: bottom;
    color: white;
}
.visit h2{
    padding-top: 20px;
}
.visit p{
    padding-bottom: 20px;
    max-width: 300px;
}
.events{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    max-height: 200px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    min-width: 100%;
}
.card{
    background-color: #FFEB3B;
    max-height: 450px;
    max-width: 330px;
    border-radius: 10%;
    margin: 20px;

}
.card_content{
    padding:0 5% 5% 5%;
}
.involved{
    display: flex;
    flex-direction: column;
    background-color:#91EBE7;
    align-items: center;

}
.involved p{
    max-width: 300px;
}
.equipment_photo img{
    min-height: 340px;
    
    
}
.equipment_photo{
    max-height: 340px;
}





